@import url('https://fonts.googleapis.com/css2?family=Tai+Heritage+Pro&display=swap');

/* global styles */
* {
    font-size: 16px;
    font-family: 'Tai Heritage Pro', serif;
    border-radius: 10px;
}

body {
    margin: 0;
    background: #1b1b1c;
}

.container {
    width: 100%;
    height: 500px;
}

label {
    font-size: 20px;
}

input {
    width: 30vw;
    height: 5vh;
    margin: 10px;
    padding: 10px;
    border: none;
    color: #1b1b1c;
}

.btn {
    width: 10vw;
    background-color: #E39DE4;
    color: white;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    border: none;
    box-shadow: 0 0 10px rgb(125, 78, 204);
}

.btn:hover {
    background-color: #7D4ECCFF;
}

h1 {
    color: #1B1B1C;
    font-size: 3rem;
    padding-top: 10vw;
    margin-left: 5vw;
    text-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
}

/* global styles */

/*header begin */
header {
    position: absolute;
    width: -moz-available; /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
    width: fill-available;
    top: 0;
    left: 0;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 100;
}


.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    background-color: #E39DE4;
    height: 3px;
    width: 25px;
    margin: 3px 0;
}

.navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #e395e4;
    text-shadow: 3px 2px 3px rgb(0 0 0 / 20%);
    font-weight: 600;
    text-decoration: none;
    margin-left: 20px;
    padding: 6px 15px;
}

.navigation a:hover,
.navigation a.active {
    color: #7D4ECC;
}

.navigation a span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom: #7D4ECC solid 3px;
    border-radius: 0;
    padding-bottom: 0;
    z-index: -1;
    transform: scale(0);
    opacity: 0;
    transition: 0.5s;
}

.navigation a:hover span,
.navigation a.active span {
    transform: scale(1);
    opacity: 1;
}

/* when the user scrolls down, hide the header. When the user scrolls up, show the header*/
.scrolled {
    position: sticky;
}


/*header end*/


/*home page*/
#home {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background: url('/static/images/main_image.png') no-repeat fixed center;
    background-size: cover;
    border-radius: 0;
}

#home h1 {
    font-size: 5rem;
}

/*home page end*/

/*account page*/
#accounts {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    /*background: url('/static/images/new.png') no-repeat center;*/
    /*background-size: cover;*/
    background: #1b1b1c;
}

#accounts h1 {
    padding-top: 0;
    color: #E39DE4;
    text-shadow: #7D4ECC 0 0 10px;
}

.accountCards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.accountCard {
    width: 25vw;
    border: #7D4ECC solid 3px;
    background: #e39de4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 0 20px 20px 20px;
    margin: 20px;
}

.accountCard_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.transactions_bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

}

.transactions_bar a {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
    background-color: #E39DE4;
    border-radius: 10px;
    text-decoration: none;
}

.transactions_bar a:hover {
    background-color: #7D4ECCFF;
}

/*account page end*/

/*create account page*/
#create {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: url('/static/images/create_banner.png') no-repeat center;
    background-size: cover;
    border-radius: 0;
}

#create form {
    position: relative;
    margin-left: 10vw;
    font-size: 20px;
}


#error_message {
    display: none;
    color: red;
    font-size: 20px;
    margin-left: 10vw;
}

/*create account page end*/

/*transaction page*/
#transactions {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: url('/static/images/transactions_banner.png') no-repeat center;
    background-size: cover;
    border-radius: 0;
    margin-left: 5vw;
}

#transactions h1 {
    margin-left: 5vw;
    padding-top: 0;
    color: #E39DE4;
    text-shadow: #7D4ECC 0 0 10px;
}

.tabs {
    width: 50vw;
    border-radius: 0.5rem;
    background-color: #7D4ECC;
}

.btn-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.button:nth-child(1) {
    border-top-left-radius: 0.5rem;
}

.button:nth-child(3) {
    border-top-right-radius: 0.5rem;
}

.button {
    padding: 1rem 0;
    border: none;
    font-size: 1rem;
    background: #E39DE4;
    cursor: pointer;
    transition: all 0.3s linear;
    letter-spacing: 0.25rem;
    border-radius: 0;
}

.button:hover:not(.live) {
    background: #e93b81;
    color: white;
}

.tabs-content {
    padding: 2rem 1.5rem;
}

/* hide content */
.content {
    display: none;
}

.content .btn {
    box-shadow: 0 0 10px rgb(227, 157, 228);
    transition: all 0.3s ease-in-out;

}

.button.live {
    background: #7D4ECC;
}

.content.live {
    display: block;
}


/*transaction page end*/


/* Extra small devices (phones, 600px and down) */

/* Small devices (portrait tablets and large phones, 600px and up) */

/* Medium devices (landscape tablets, 768px and up) */

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
    .image {
        margin-bottom: 0;
    }

    .section-center {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */


/* for mobile devices */
@media screen and (max-width: 1200px) {
    .menu-toggle {
        display: flex;
    }

    .navigation {
        display: none;
    }

    .navigation.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 40px;
        background-color: #E39DE4;
        border: 1px solid #7d4ecc;
    }

    .navigation a {
        margin: 25px 0;
        color: #7D4ECC;
        text-shadow: none;
    }

    .navigation a:hover {
        scale: 1;
    }
}

@media screen and (max-width: 768px) {

    .navigation.active {
        width: 80vw;
    }
}
