<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta charset="utf-8">
    <title>New Bank</title>
    <link rel="icon" type="image/png" href="/static/fav-ico.png">
</head>
<body>
<header>
    <div class="menu-toggle" id="mobile-menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
    <nav class="navigation">
        <a href="#" class="active">Home<span></span></a>
        <a href="#accounts">My Accounts<span></span></a>
        <a href="#create">Create New Account<span></span></a>
        <a href="#transactions">Transactions<span></span></a>
    </nav>
</header>

<div id="home">
    <h1>New Bank </h1>
</div>

<div id="accounts" class="container">
    <h1>My Accounts</h1>
    <div class="accountCards">
        {% if accounts %}
        {% for account in accounts %}
        <div class="accountCard">
            <section class="accountCard_header">
                <h3>{{ account.name }}</h3>
                <h3>···</h3>
            </section>
            <p>Balance: {{ account.balance }}</p>
        </div>
        {% endfor %}
        {% else %}
        <div class="accountCard">
            <section class="accountCard_header">
                <h3>Default Account</h3>
                <h3>···</h3>
            </section>
            <p>Balance: $0.00</p>
        </div>
        {% endif %}
    </div>
    <div class="transactions_bar">
        <a href="#transfer" data-id="transfer">
            <img width="32" height="32"
                 src="https://img.icons8.com/external-itim2101-lineal-itim2101/64/external-money-transfer-finance-itim2101-lineal-itim2101-1.png"
                 alt="external-money-transfer-finance-itim2101-lineal-itim2101-1"/>
            <span>Transfer Money</span>
        </a>

        <a href="#deposit" data-id="deposit">
            <img width="32" height="32"
                 src="https://img.icons8.com/laces/64/1b1b1c/initiate-money-transfer.png"
                 alt="initiate-money-transfer"/>
            <span>Deposit Money</span>
        </a>

        <a href="#withdraw" data-id="withdraw">
            <img width="32" height="32"
                 src="https://img.icons8.com/external-outline-design-circle/66/000000/external-atm-hotel-and-services-outline-design-circle.png"
                 alt="external-atm-hotel-and-services-outline-design-circle"/>
            <span>Withdraw Money</span>
        </a>
    </div>
</div>

<div id="create" class="container">
    <h1>Create New Account</h1>
    <form action="/create_account" method="post">
        <label for="name">Name:</label><br>
        <p id="error_message"> Account with name {name} already exists.</p>
        <input type="text" id="name" name="name" placeholder="Account Name" required><br><br>
        <label for="initial_balance">Initial Balance:</label><br>
        <input type="number" min="0.00" max="10000.00" id="initial_balance" name="initial_balance" placeholder="$0.00"
               required><br>
        <button class="btn" type="submit">Create Account</button>
    </form>

</div>

<div id="transactions">
    <h1>Transactions</h1>
    <div class="tabs">
        <div class="btn-container">
            <button class="button live" data-id="transfer">Transfer</button>
            <button class="button" data-id="deposit">Deposit</button>
            <button class="button" data-id="withdraw">Withdraw</button>
        </div>
        <div class="tabs-content">

            <div class="content live" id="transfer">
                <form id="transfer-form" class="transaction-form" action="/transfer" method="post">
                    <label for="sender">Sender Account</label><br>
                    <input type="text" id="sender" name="sender" placeholder="Sender Account" required><br><br>
                    <label for="recipient">Recipient Account</label><br>
                    <input type="text" id="recipient" name="recipient" placeholder="Recipient Account" required><br><br>
                    <label for="amount">Amount</label><br>
                    <input type="number" min="0.00" max="10000.00" id="transfer-amount" name="amount"
                           placeholder="Amount"
                           required><br>
                    <button class="btn" type="submit">Transfer</button>
                </form>
            </div>

            <div class="content" id="deposit">
                <form id="deposit-form" class="transaction-form" action="/deposit" method="post">
                    <label for="account">Account</label><br>
                    <input type="text" id="account" name="account" required><br><br>
                    <label for="amount">Amount</label><br>
                    <input type="number" min="0.00" max="10000.00" id="amount" name="amount" required><br>
                    <button class="btn" type="submit">Deposit</button>
                </form>
            </div>

            <div class="content" id="withdraw">
                <form id="withdraw-form" class="transaction-form" action="/withdraw" method="post">
                    <label for="account">Account</label><br>
                    <input type="text" id="account" name="account" required><br><br>
                    <label for="amount">Amount</label><br>
                    <input type="number" id="amount" name="amount" required><br>
                    <button class="btn" type="submit">Withdraw</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='script.js') }}"></script>
{% if scroll_to_accounts %}
<script>
    window.location.href = '/#accounts';
</script>
{% endif %}
{% if scroll_to_create %}
<script>
    window.location.href = '/#create';
    console.log("error: {{ error_message }}");
    var error = document.getElementById("error_message");
    error.style.display = "flex !important";
</script>
{% endif %}
</body>
</html>
